#clockTime {
    height: 5vh;
    background-color: white;
    color: black;
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.oneThird {
    width: 33.3333vw;
}
.routineTab {
    font-weight:bold;

}

.routineButt {
    height: 6vh;
    width: 5vw;
    border-radius: 20%;
    color: white;

    background-color: darkblue;
}

#routineContainer {
    position: relative;

    width: 100vw;

}

#addTimer {
    bottom: 0px;
    position: fixed;
    justify-self: center;
}

.routineDel {
    color: red;
    background: none;
    border: none;
    outline: none;
}

.DelId {
    display:inline-block;
    white-space:normal;
    background:red;
    width:6vw;
    height: 6vh;
    border-radius: 20%;

}

.DelId:hover {
    background-color: greenyellow;
}